$color-primary: #fff !default;
$color-secondary: #000;

@mixin foo {
  background: black;
}

.foo {
  color: $color-primary; // Comment
}

// Comment
// Comment
.bar {
  @include foo;

  &__baz {
    color: red;
  }
}
