$color-primary: #fff !default;
$color-secondary: #000;

@mixin foo {
  background: black;
}

// comment
.foo {
  color: $color-primary; // comment
}

// comment
// comment
.bar {
  @include foo;

  // comment
  &__baz {
    color: red;
  }
}

// comment

.xyz {
  color: $color-primary;
}

/* comment */

.qux {
  background: black;
  // comment
  color: white;
  font-size: 14px;
}
